war/WEB-INF/wsdl/stock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://warehouse.rf.com/"
	targetNamespace="http://warehouse.rf.com/"
	name="StockService">
	
	<documentation>
		This is a custom WSDL document used to generate a contract-first Web service.
	</documentation>
	
	<types>
		<xsd:schema>
			<xsd:import schemaLocation="stock.xsd"
				        namespace="http://warehouse.rf.com/" />
		</xsd:schema>
	</types>
	
	<message name="getStockItemsWithQuantityLessThan">
		<part element="tns:getStockItemsWithQuantityLessThan" name="parameters"/>
	</message>

	<message name="getStockItemsWithQuantityLessThanResponse">
		<part element="tns:getStockItemsWithQuantityLessThanResponse" name="parameters"/>
	</message>
	
	<message name="getStockItemsWithQuantityBetween">
		<part element="tns:getStockItemsWithQuantityBetween" name="parameters"/>
	</message>
	
	<message name="getStockItemsWithQuantityBetweenResponse">
		<part element="tns:getStockItemsWithQuantityBetweenResponse" name="parameters"/>
	</message>

	<message name="isInStock">
		<part element="tns:isInStock" name="parameters"/>
	</message>

	<message name="isInStockResponse">
		<part element="tns:isInStockResponse" name="parameters"/>
	</message>
	
	<portType name="Stock">
	
		<operation name="getStockItemsWithQuantityLessThan">
			<input message="tns:getStockItemsWithQuantityLessThan" />
			<output message="tns:getStockItemsWithQuantityLessThanResponse" />
		</operation>
		
		<operation name="getStockItemsWithQuantityBetween">
			<input message="tns:getStockItemsWithQuantityBetween" />
			<output message="tns:getStockItemsWithQuantityBetweenResponse" />
		</operation>
		
		<operation name="isInStock">
			<input message="tns:isInStock" />
			<output message="tns:isInStockResponse" />
		</operation>
		
	</portType>
	
	<binding name="StockPortBinding" type="tns:Stock">
	
		<soap:binding style="document"
			          transport="http://schemas.xmlsoap.org/soap/http"/>
			          
		<operation name="getStockItemsWithQuantityLessThan">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
		<operation name="getStockItemsWithQuantityBetween">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
		<operation name="isInStock">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	<service name="StockService">
		<port name="StockPort" binding="tns:StockPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
	
</definitions>
